/* General */
* {
    margin:0;
    padding: 0;
}

html {
    background-color: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

a:hover {
    font-style: italic;
}

/* Header */
header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, #ffffff 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
    float: left;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

header h2 {
    font-size: 170%;
    color: #800000;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow{
    text-shadow: 2px 2px #800000;
}

/* Main */
main {
    clear: left;
    padding-left: 30px;
    padding-right: 30px;
}

main h1 {
    font-size: 150%;
    border: 3px double #931420;
    border-radius: 8px;
    box-shadow: 3px 3px 3px 3px #000000;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
}

main h2 {
    font-size: 130%;
    color: #800000;
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main blockquote {
    font-style: italic;
    padding-left: 2em;
    padding-right: 2em;
}

main ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}

main li {
    padding-bottom: .35em;
}

/* Footer */
footer {
    background-color: #931420;
}

footer p {
    text-align: center;
    color: #FFFFFF;
    padding-top: 1em;
    padding-bottom: 1em;
}